<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/styles.css" type="text/css">
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css">
    <title>Document</title>
</head>
<body>
    <%- include(partials.header) %>
    <section class="section">
        <div class="container-fluid">
            <div class="main">
                <div class="container">
                    <h1 class="main-heading">
                        <span class="main-heading_top">
                            Лучшая <br /> наркологическая клиника
                        </span>
                        <br />
                        <span class="main-heading_bottom">
                            <i></i>
                            “ШАНС”
                            <i></i>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    О клинике
                </h2>
                <div class="content">
                    <div class="content-text">
                        <h3 class="content-heading">
                            <span class="content-heading_top">
                                Лечение от
                            </span>
                            <br />
                            <span class="content-heading_bottom">
                                зависимости
                            </span>
                        </h3>
                        <div class="content-info">
                            <p>
                                Наркологическая клиника ШАНС-лечение алкоголизма, лечение наркозависимости (включая
                                тяжелые виды наркотиков). В клинике так же функционирует терапевтическое отделение.
                                Доступно бесплатное анонимное консультирование.
                                Возможна рассрочка и кредитование от банка партнера .Поможем найти мгновенное решение по
                                диагностике и лечению. Оформление прямо в клинике и на нашем сайте. Начало доступного
                                профессионального лечения с первых дней работы с пациентом.
                            </p>
                        </div>
                        <div class="content-about">
                            <div class="content-about_item">
                                <div class="content-about_item__top">2021 г.</div>
                                <div class="content-about_item__bottom">
                                    Lorem ipsum dolor sit
                                </div>
                            </div>
                            <div class="content-about_item">
                                <div class="content-about_item__top">690</div>
                                <div class="content-about_item__bottom">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                            <div class="content-about_item">
                                <div class="content-about_item__top">75 000 м2</div>
                                <div class="content-about_item__bottom">
                                    Lorem ipsum
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Усуги
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_top">
                        Проблемы,
                    </span>
                    <span class="content-heading_bottom">
                        Которые мы решаем
                    </span>
                </h3>
            </div>
            <div class="services">
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ АЛКОГОЛИЗМА
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение алкоголизма в нашей клинике проводится по различным программам в зависимости от
                            уровня и развития заболевания.
                            Мы оказываем услуги по выводу из запоя, кодированию и комплексному лечению.
                        </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/1.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ НАРКОМАНИИ
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение наркотической зависимости по комплексной реабилитационной
                            программе. Мы индивидуально подходим к каждому пациенту,
                            поддерживаем на всех этапах лечения зависимости.
                        </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ НАРКОМАНИИ
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение наркотической зависимости по комплексной реабилитационной
                            программе. Мы индивидуально подходим к каждому пациенту,
                            поддерживаем на всех этапах лечения зависимости.
                        </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ НАРКОМАНИИ
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение наркотической зависимости по комплексной реабилитационной
                            программе. Мы индивидуально подходим к каждому пациенту,
                            поддерживаем на всех этапах лечения зависимости.
                        </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ НАРКОМАНИИ
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение наркотической зависимости по комплексной реабилитационной
                            программе. Мы индивидуально подходим к каждому пациенту,
                            поддерживаем на всех этапах лечения зависимости.
                        </p>
                    </div>
                </div>
                <div class="services-item">
                    <div class="services-item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="services-item_heading">
                        ЛЕЧЕНИЕ НАРКОМАНИИ
                    </div>
                    <div class="services-item_text">
                        <p>
                            Лечение наркотической зависимости по комплексной реабилитационной
                            программе. Мы индивидуально подходим к каждому пациенту,
                            поддерживаем на всех этапах лечения зависимости.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Преимущества
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        Почему
                    </span>
                    <span class="content-heading_top">
                        мы
                    </span>
                </h3>
                <div class="advantages">
                    <div class="content-about_item">
                        <div class="content-about_item__top">
                            <img src="/public/images/calendar.svg" alt="">
                        </div>
                        <div class="content-about_item__bottom">
                            Lorem ipsum
                        </div>
                    </div>
                    <div class="content-about_item">
                        <div class="content-about_item__top">
                            <img src="/public/images/people.svg" alt="">
                        </div>
                        <div class="content-about_item__bottom">
                            Lorem ipsum
                        </div>
                    </div>
                    <div class="content-about_item">
                        <div class="content-about_item__top">
                            <img src="/public/images/24.svg" alt="">
                        </div>
                        <div class="content-about_item__bottom">
                            Lorem ipsum
                        </div>
                    </div>
                    <div class="content-about_item">
                        <div class="content-about_item__top">
                            <img src="/public/images/0rub.svg" alt="">
                        </div>
                        <div class="content-about_item__bottom">
                            Lorem ipsum
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container">
            <div class="about content reverse">
                <div class="content-image">
                    <img src="/public/images/2.jpeg" alt="">
                </div>
                <div class="content-text">
                    <h3 class="content-heading m0">
                        <span class="content-heading_bottom">
                            о нашей
                        </span>
                        <span class="content-heading_top">
                            работе
                        </span>
                    </h3>
                    <div class="content-info">
                        <p>
                            Сегодня наркомания – одна из самых распространенных и тяжелых болезней. Невинное «попробуй
                            один раз, ничего не случится» для многих становится настоящей зависимостью, которая может
                            привести к самым печальным последствиям. Самое страшное и то, что люди, страдающие
                            наркотической зависимостью – не осознают своей проблемы. Здесь то на помощь и должны прийти
                            родные, близкие, друзья. Своевременное обращение за помощью в наркологическую клинику – это
                            уже пол победы на пути к выздоровлению.
                        </p>
                        <h3 class="content-info_subheading">
                            Lorem ipsum
                        </h3>
                        <p>
                            В нашей клинике трудятся высококвалифицированные специалисты, которые могут найти подход к
                            любому пациенту. Он заключается в постепенном, планомерном, структурированном восстановление
                            всех разрушенных сфер жизни человека. Мы используем классические методы, это детоксикация,
                            психологическое консультирование, тренинги и многое другое.
                        </p>
                        <h3 class="content-info_subheading">
                            Lorem ipsum
                        </h3>
                        <p>
                            В нашей клинике трудятся высококвалифицированные специалисты, которые могут найти подход к
                            любому пациенту. Он заключается в постепенном, планомерном, структурированном восстановление
                            всех разрушенных сфер жизни человека. Мы используем классические методы, это детоксикация,
                            психологическое консультирование, тренинги и многое другое.
                        </p>
                        <h3 class="content-info_subheading">
                            Lorem ipsum
                        </h3>
                        <p>
                            В нашей клинике трудятся высококвалифицированные специалисты, которые могут найти подход к
                            любому пациенту. Он заключается в постепенном, планомерном, структурированном восстановление
                            всех разрушенных сфер жизни человека. Мы используем классические методы, это детоксикация,
                            психологическое консультирование, тренинги и многое другое.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="about">
                <h2 class="about-subheading">
                    Подход
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_top">
                        Как
                    </span>
                    <span class="content-heading_bottom">
                        мы работаем
                    </span>
                </h3>
            </div>
            <div class="process">
                <div class="process-item">
                    <div class="process-image"><img src="/public/images/gears.svg" alt=""></div>
                    <div class="process-desc">
                        <h4 class="process_heading">Практикующие психологи</h4>
                        <p class="process_text">
                            В нашей клинике работает команда психологов и врачей с многолетним опытом работы лечения
                            зависимостей.
                            Сотни счастливых резидентов и их родственников, которым помогли наши специалисты сейчас
                            живут счастливо в своих семьях, работают и развиваются.
                        </p>
                    </div>
                </div>
                <div class="process-item">
                    <div class="process-image"><img src="/public/images/rubles.svg" alt=""></div>
                    <div class="process-desc">
                        <h4 class="process_heading">Практикующие психологи</h4>
                        <p class="process_text">
                            В нашей клинике работает команда психологов и врачей с многолетним опытом работы лечения
                            зависимостей.
                            Сотни счастливых резидентов и их родственников, которым помогли наши специалисты сейчас
                            живут счастливо в своих семьях, работают и развиваются.
                        </p>
                    </div>
                </div>
                <div class="process-item">
                    <div class="process-image"><img src="/public/images/individual.svg" alt=""></div>
                    <div class="process-desc">
                        <h4 class="process_heading">Практикующие психологи</h4>
                        <p class="process_text">
                            В нашей клинике работает команда психологов и врачей с многолетним опытом работы лечения
                            зависимостей.
                            Сотни счастливых резидентов и их родственников, которым помогли наши специалисты сейчас
                            живут счастливо в своих семьях, работают и развиваются.
                        </p>
                    </div>
                </div>
                <div class="process-item">
                    <div class="process-image"><img src="/public/images/clock.svg" alt=""></div>
                    <div class="process-desc">
                        <h4 class="process_heading">Практикующие психологи</h4>
                        <p class="process_text">
                            В нашей клинике работает команда психологов и врачей с многолетним опытом работы лечения
                            зависимостей.
                            Сотни счастливых резидентов и их родственников, которым помогли наши специалисты сейчас
                            живут счастливо в своих семьях, работают и развиваются.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="container about slider-container">
            <div class="about">
                <h2 class="about-subheading">
                    отзывы
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        ОТЗЫВЫ
                    </span>
                    <span class="content-heading_top">
                        НАШИХ КЛИЕНТОВ
                    </span>
                </h3>
            </div>
            <div class="owl-carousel">
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
                <div class="carousel_item">
                    <div class="carousel_item_image">
                        <img src="/public/images/2.jpeg" alt="">
                    </div>
                    <div class="carousel_item_name">Иванов И.И.</div>
                    <div class="carousel_item_text">
                        "Употреблял наркотики и алкоголь более 11 лет. Думал - это моя судьба. 
                        Попал в центр, прошёл реабилитацию и сейчас ничего не употребляю.Никогда не думал,
                        что в моём случае это возможно. Спасибо сотрудникам ЦСА Шанс за эту возможность, знания и поддержку после реабилитации! Благодаря вам у меня появился выход из капкана зависимости!"
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container about slider-container">
            <div class="about">
                <h2 class="about-subheading">
                    обратная связь
                </h2>
                <h3 class="content-heading">
                    <span class="content-heading_bottom">
                        Свяжитесь
                    </span>
                    <span class="content-heading_top">
                        с нами
                    </span>
                </h3>
            </div>
            <div class="contact-main">
                <form class="conact-modal">
                    <div class="modal-window_body">
                        <div class="modal-window_form">
                            <label class="modal-window_control" for="name">
                                <span class="input-label">
                                    Ваше имя:
                                </span>
                                <input class="input input-default" type="text">
                            </label>
                            <label class="modal-window_control" for="phone">
                                <span class="input-label">
                                    Ваше телефон:
                                </span>
                                <input id="phone" class="input input-default" type="text">
                            </label>
                            <label class="modal-window_control" for="question">
                                <span class="input-label">
                                    Ваш вопрос:
                                </span>
                                <textarea id="question" class="textarea input-default" type="text"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="modal-window_footer">
                        <button class="modal-window_send">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%- include(partials.footer) %>
</body>
</html>