@import url("https://fonts.googleapis.com/css2?&family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  position: relative;
  color: #1D1D1B;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  width: 1544px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 10px;
  box-sizing: border-box;
}

.container-fluid {
  width: 1856px;
  max-width: 100%;
  margin: 0 auto;
  padding: 16px 10px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.d-none {
  display: none;
}

.bg-gray {
  background-color: #F8F8F8;
}

.mb-50 {
  margin-bottom: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

/** Header */
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.5);
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav_action {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 10px;
}
.header-nav_contact-link {
  color: #1D1D1B;
  font-weight: 700;
  border: 1px solid #40AD74;
  border-radius: 40px;
  padding: 15px 30px;
  box-sizing: border-box;
}
.header-nav_btn {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.header-nav_btn__open {
  background-color: #40AD74;
  cursor: pointer;
}
.header-nav_btn__open > img {
  cursor: inherit;
}
.header-nav_btn__open:hover {
  background-color: #3aa06b;
}
.header-nav_btn__close {
  position: absolute;
  right: 32px;
  top: 16px;
  background-color: #fff;
  cursor: pointer;
}
.header-nav_btn__close > img {
  cursor: inherit;
}
.header-nav_list {
  position: fixed;
  z-index: 99;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  padding: 32px 20px;
  background-color: #40AD74;
  transition: none;
}
.header-nav_list.hidden {
  transform: translateX(100%);
}
.header-nav_list.hidden.visible {
  transform: translateX(0%);
  transition: transform 0.5s;
}
.header-nav_item {
  margin-bottom: 25px;
}
.header-nav_link {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.header-nav_logo {
  display: flex;
  align-items: center;
}
.header-nav_logo-image {
  width: 60px;
  height: 60px;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-nav_logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}
.header-nav_logo-text__top {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
}

/** Main */
.main {
  height: 700px;
  max-width: 100%;
  background-image: url(../images/1.jpeg);
  background-position: bottom center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.main::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(89.79deg, #1B1B1B 30.77%, rgba(27, 27, 27, 0.55) 99.84%);
  opacity: 0.65;
}
.main-heading {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  font-size: 64px;
  line-height: 70px;
}
.main-heading_top {
  color: #FFF;
}
.main-heading_bottom {
  color: #40AD74;
}

/** About section */
.about {
  padding: 50px 0;
}
.about-subheading {
  color: #C4C4C4;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.6em;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-column-gap: 100px;
}
.content.reverse {
  grid-template-columns: 3fr 3fr;
}
.content-heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  text-transform: uppercase;
  margin-top: 32px;
}
.content-heading.m0 {
  margin-top: 0;
}
.content-heading_top {
  color: #40AD74;
}
.content-image {
  height: 600px;
  overflow: hidden;
  border-radius: 30px;
}
.content-image > img {
  max-height: 100%;
}
.content-info {
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #505050;
}
.content-info.mt-0 {
  margin-top: 0;
}
.content-info_subheading {
  margin: 10px 0;
}
.content-about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  margin-top: 50px;
}
.content-about_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-about_item__top {
  white-space: nowrap;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  color: #40AD74;
}
.content-about_item__bottom {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

/** Services */
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  padding-bottom: 40px;
}
.services-item {
  display: grid;
  grid-template-rows: 200px 20px 1fr;
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  position: relative;
  max-height: 400px;
}
.services-item:hover {
  transform: scale(1.05);
  box-shadow: 4px 14px 8px 0px rgba(64, 173, 116, 0.2);
  transition: transform 0.5s;
}
.services-item_heading {
  font-weight: 700;
  margin-top: 10px;
  text-align: center;
}
.services-item_image {
  width: 100%;
  overflow: hidden;
}
.services-item_image > img {
  max-width: 100%;
}
.services-item_text {
  padding: 20px;
  box-sizing: border-box;
}

/** Advantages */
.advantages {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/** Process */
.process {
  padding-bottom: 40px;
}
.process-item {
  border-radius: 30px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 20px;
  margin-bottom: 25px;
}
.process-item:nth-child(even) {
  flex-direction: row-reverse;
}
.process-item:last-child {
  margin-bottom: 0;
}
.process-image {
  margin-right: 20px;
}
.process-desc {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.process-desc:nth-child(even) {
  flex-direction: flex-end;
}
.process_heading {
  margin-bottom: 10px;
}

.carousel_item {
  max-width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  cursor: pointer;
}
.carousel_item_image {
  border-radius: 20px;
  overflow: hidden;
}
.carousel_item_name {
  text-align: center;
  font-weight: 700;
  margin: 10px auto;
}

.owl-nav {
  position: absolute;
  top: -60px;
  right: 0;
}

.owl-prev {
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  background-image: url(../images/arrow_prev.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-right: 10px;
  border-radius: 50%;
}
.owl-prev span {
  display: none;
}

.owl-next {
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  background-image: url(../images/arrow_right.svg) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border-radius: 50%;
}
.owl-next span {
  display: none;
}

/** Contacts */
.contact-list_item {
  margin-bottom: 25px;
}
.contact-list_link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #1D1D1B;
  font-weight: 700;
}
.contact-list_icon__phone {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #40AD74;
  margin-right: 20px;
}
.contact-list_icon__phone > img {
  margin-left: 10px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}
.footer-nav_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.footer-nav_logo-image {
  width: 60px;
  height: 60px;
  background-image: url("../images/logo.png");
  background-size: contain;
}
.footer-nav_list {
  display: flex;
}
.footer-nav_item {
  margin: 0 5px;
}
.footer-nav_item:first-child {
  margin-left: 0;
}
.footer-nav_item:last-child {
  margin-right: 0;
}
.footer-nav_link {
  color: #1D1D1B;
}
.footer-copyright {
  background-color: #1D1D1B;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-copyright_link {
  margin-top: 15px;
  color: #fff;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-shadow {
  width: 100%;
  height: 100%;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px 18px;
  width: 650px;
  max-width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}
.modal-window_close {
  width: 30px;
  height: 30px;
  background-image: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  background-color: transparent;
}
.modal-window_close:hover {
  transform: scale(1.1);
}
.modal-window_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal-window_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.modal-window_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.modal-window_body {
  margin-top: 30px;
}
.modal-window_send {
  padding: 15px 25px;
  background-color: #40AD74;
  border: 1px solid #40AD74;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.modal-window_send:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.input-default {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
}
.input-default:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.textarea {
  height: 250px;
}

.input-label {
  margin-bottom: 15px;
}

.contact-main {
  padding: 0 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .container-fluid {
    padding: 0;
  }
  .header-nav_logo-text {
    display: none;
  }
  .header-nav_contact-link {
    white-space: nowrap;
    padding: 10px 20px;
  }
  .main {
    height: 400px;
    border-radius: 0;
  }
  .main::before {
    background-size: cover;
  }
  .main-heading {
    font-size: 29px;
    line-height: 32px;
  }
  .about {
    padding: 20px 0;
  }
  .about-subheading {
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 0.3em;
  }
  .content {
    display: grid;
    grid-template-rows: 1.5fr 1fr;
    grid-column-gap: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  .content.reverse {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 2fr;
  }
  .content-heading {
    margin-top: 10px;
    font-size: 32px;
    line-height: 33px;
  }
  .content-info {
    max-width: 100%;
  }
  .content-text {
    max-width: 100%;
  }
  .content-about {
    display: grid;
    grid-column-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 25px;
    margin-top: 25px;
  }
  .content-about_item__top {
    font-size: 30px;
  }
  .content-about_item__bottom {
    font-size: 20px;
  }
  .services {
    display: grid;
    grid-template-columns: 1fr;
  }
  .advantages {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
  }
  .footer-nav_list {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-nav_item {
    margin: 10px 0;
  }
  .process-item {
    flex-direction: column;
  }
  .process-item:nth-child(even) {
    flex-direction: column;
  }
  .process-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=styles.css.map */